/* universal selector - applies everywhere  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 90px;
}

/* applies to the entire body of the HTML document (except where overriden by more specific selectors) */
body {
  background-color: rgb(255, 255, 255);
  color: rgb(36, 70, 142);
  font-family: "Roboto", sans-serif;
  font-size: 100%; /* 100% = 16px on most screens */
  padding-top: 90px;
}

.section-container {
  padding: 0 1em;
  max-width: 60rem;
  margin: 0 auto;
}

header {
  position: fixed; /*set navbar to fixed position*/
  top: 0; /*position navbar at top of page*/
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 2%;
  border-bottom-style: solid;
  border-bottom-color: rgb(219, 9, 126);
  text-align: center;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgb(255, 255, 255);
}

.nav-links {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: rgb(36, 70, 142);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

#profile-photo {
  display: block;
  border-radius: 50%;
  /* float: left; */
  width: 20%;
}

section {
  margin: auto;
  padding: 2rem;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 2em;
  font-weight: bolder;
  color: rgb(36, 70, 142);
}

ul {
  list-style-type: none;
}

a:link {
  color: rgb(0, 81, 255);
}
a:visited {
  color: rgb(102, 0, 255);
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active {
  color: rgb(219, 9, 126);
}

button {
  margin: 1% 1% 1% 0%;
  border-style: double;
  border-radius: 5%;
  padding: 1.5%;
  background-color: rgba(219, 9, 126, 0.05);
  color: rgb(36, 70, 142);
  font-size: 1em;
  font-weight: bold;
}

button:hover {
  color: rgb(219, 9, 126);
}

#skills ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  justify-items: center;
  font-size: 1.5rem;
}

#skills li {
  display: none;
}

/* .project-container {
  border: red solid 2px;
} */

.project-image {
  width: 100%;
}

.experience-list {
  display: grid;
  grid-template-columns: 3fr 1fr;
  row-gap: 1em;
}

.experience-list li {
  background: rgba(191, 208, 247, 0.4);
}
.bold {
  font-size: 1.5rem;
  font-weight: bolder;
}
.right-align {
  text-align: right;
}

.message-form {
  margin: auto;
  padding: 0%;
}
.form-box,
.btn-group {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
}
.form-label {
  margin: 0;
  color: rgb(140, 87, 156);
  font-size: 1.25em;
  text-align: left;
  display: none;
}
.form-input {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
.form-input,
.form-message-area {
  font-family: inherit;
  font-size: inherit;
}
.form-input:focus::placeholder,
.form-message-area:focus::placeholder {
  color: rgb(36, 70, 142);
}
.form-message-area {
  min-height: 5em;
}

.hidden {
  display: none;
}

#messages {
  color: rgb(140, 87, 156);
}
#messages li {
  display: block;
  text-align: left;
  font-size: 1.25em;
}
#messages button[type="button"] {
  padding: 0% 0.5%;
  border-style: dotted;
  border-color: rgb(219, 9, 126);
  font-size: 1rem;
  color: rgb(219, 9, 126);
}

footer {
  margin: 0;
  border-top-style: solid;
  border-top-color: rgb(219, 9, 126);
  padding: 5%;
  background-color: rgba(219, 9, 126, 0.05);
  text-align: center;
  font-size: 0.75em;
}

.social-media-icons {
  font-size: 2rem;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .nav-toggle-label {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(200px, 3fr);
  }
  .logo {
    grid-column: 1 / 2;
    display: flex;
    justify-content: flex-start;
  }
  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav a {
    opacity: 1;
    position: relative;
  }
  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: rgb(36, 70, 142);
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  nav a:hover::before {
    transform: scale(1, 1);
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
  }
  .nav-links {
    margin-left: 3em;
    margin-bottom: 0;
  }
  li {
    display: inline-block;
  }
  .form-label {
    display: block;
  }
  .btn-group {
    flex-direction: row;
    justify-content: center;
  }
  #skills li {
    display: inline-block;
  }
}
