/*
Setting for modile view.
*/
@media screen and (max-width: 990px) {
    body {
        background-color: AliceBlue;
        color: #2b3d68;
        font-family: 'Raleway', sans-serif;
        margin-left: 20px;
        margin-right: 20px;
    }
 
    h1 {
        font-size: 40px; font-weight: 10; color: #6880b8;
    }
    
    h2 {
        font-size: 30px; font-weight: 10; color: #6880b8;
    }

    .topnav {
        background-color: rgb(48, 83, 99);
        overflow: hidden;
        border-radius: 10px;
    }
    
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    
    .topnav a:hover {
        background-color: rgb(156, 181, 204);
        color: rgb(116, 118, 126);
    }
    
    .topnav a.active {
        background-color: rgb(54, 143, 143);
        color: white;
    }

    .about {
        border: 1px solid rgb(173, 230, 230);
        background-color: rgb(173, 230, 230);
        padding-top: 5px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        border-radius: 10px;
        margin-bottom: 20px;
    }
        
    article.experience {
        border: 1px solid lightblue;
        background-color: lightblue;
        padding: 10px;
        border-radius: 10px;
    }

    .flex-experience {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
      }
    
    section.skills {
        border: 1px solid rgb(173, 230, 230);
        background-color: rgb(173, 230, 230);
        padding-top: 5px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        border-radius: 10px;
    }
    
    section.messages {
        border: 1px solid rgb(173, 230, 199);
        background-color: rgb(173, 230, 199);
        padding-top: 5px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        border-radius: 10px;
    }
    
    input.userNameandEmail {
        border:2px solid #2a539e;
        width: 250px;
    }
    
    textarea.userMessage {
        border: 2px solid #2a539e;
        border-radius: 5px;
        width: 250px;
        height: 100px;
    }
    
    .flex-leave-message {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button.submitButton {
        background-color: #4caf86;
        border: none;
        color: white;
        padding: 15px 105px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 10px;
    }
    
    footer.footer {
        background-color: rgb(14, 7, 58);
        padding-top: 60px;
        padding-right: 10px;
        padding-bottom: 100px;
        padding-left: 10px;
        border-radius: 10px;
    }

    form.leave_message {
        font-family: Arial, Helvetica, sans-serif; 
        font-size: 15px; 
        font-weight: 10; 
        font-style: italic; 
        color: #323f5c;
        padding-top: 5px;
        padding-bottom: 10px;
        padding-right: 10px;
    }

    html {
        scroll-behavior: smooth;
      }

    .project-link {
        color: #d4d4d4;
        text-decoration: none;
    }
    
    .project-li {
        list-style: none;
    }

    .icongroup{
        padding-left: 50px;
        font-size:24px;
      }

      .icon-text-size {
            font-size: 50px;
        }
    
        a, a:visited {
            color: #94969c;
        }
}