body {
    background-image: linear-gradient(to top, #000033, #222255);
    background-repeat: no-repeat;
    color: white;
    font-family: 'NTR', sans-serif; ;
    text-align: left;
    margin: 10px;
}


/* moon image and details */

#moon-container{
    display: flex;
    margin: auto;
}

#moon{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    animation: shine 2s ease-in-out infinite;
    background-color: #e7e6e1;
    box-shadow: 0px 0px 5px 2px #5f5f72;
    position: relative;
    overflow: hidden;
    margin: 30px;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 1;
}

.details {
    width: 100px;
    height:100px;
    border-radius: 50%;
    background-color: rgba(165, 165, 165, 0.089);
    flex-wrap: wrap;
}
.details.one {
    position: absolute;
    top: 20px;
    left: 40px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: inset 2px 0 4px rgba(167, 167, 167, 0.685);
    flex-wrap: wrap;
}
.details.two {
    position: absolute;
    top: 60px;
    left: 16px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: inset -2px 0 4px rgba(167, 167, 167, 0.685);
    flex-wrap: wrap;
}
.details.three {
    position: absolute;
    top: 70px;
    left: 70px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: inset 2px 0 4px rgba(167, 167, 167, 0.685);
    flex-wrap: wrap;
}
.details.four.small {
    position: absolute;
    top: 40px;
    left: 60px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: inset 2px 0 4px rgba(167, 167, 167, 0.585);
    flex-wrap: wrap;
}

@keyframes animate {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* title */
#container-intro{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

*, :after, :before {
    box-sizing: border-box;
}
.typing-effect {
    display:inline-block;
    width: 16ch;
    animation: typing 3s steps(22), blink 1s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: 'ntr';
    font-size: 70px;
    line-height: 5px;
    margin-top: 30px;
    align-items: center;
  }
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
/*  
message box that links to email */

#message-link{
    font-family: 'ntr', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color:#b1d4f1;
    background-color: transparent;
    padding: 10px 30px;
    border-radius: 4px;
    cursor:pointer;
    text-decoration: none;
    border: 1px solid #b1d4f1;
    transition-duration: 1s;
    align-self: center;
    margin: 10px;
}
#an{
    color:#222255;
    background-color: transparent;
}

#message-link:hover{
    animation: 2s ease-in-out infinite;
    background-color: #a87ab3;
}

/* navigation bar */

.container{
    display: flex;
    flex-direction: column;
}
#navbar{
    list-style-type: none;
    margin: 25px;
    flex-wrap: wrap;
    width: 120px;
    position: fixed;
    right: 0;
    bottom: 0;
}
#navbar a{
    color: #b1d4f1;
    font-family: 'NTR', sans-serif;
    font-size: 18px;
}
#navbar :hover{
    color: #a87ab3;
}
/* 
intro section */
#about{
    padding: 10px;
    padding-top: 250px;
    max-width: 600px;
    margin: 5px;
    font-family: 'NTR', sans-serif;
    font-size: 50px;
    flex-wrap: wrap;
}
.container-2{
    display: flex;
    flex-direction: row;
    margin: auto;
}
#about-descript{
    font-family: NTR;
    font-size: 22px;
    padding: 10px;
    margin: 0;
    max-width: 600px;
    flex-wrap: wrap;
    text-align: justify;
}
#myself{
    max-width: 300px;
    height: auto;
    border-radius: 30px;
    margin-left: 30px;
    box-shadow: 6px 13px 23px -5px rgb(0 0 0 / 50%);
    border: none;
    flex-wrap: wrap;
}
/* experience section */
.exp-div{
    display: flex;
    flex-direction: row;
}
.container-3{
    display: flex;
    flex-direction: column;
}
#experience{
    font-size: 50px;
    font-family: 'NTR', sans-serif;
    padding-top: 80px;    
} 
#locat{
    font-size: 25px;
    font-weight: 700px;
    width: 540px;
    flex-wrap: wrap;
    line-height: 1.5;
    letter-spacing: 2px;
}
#title{
    font-size: 25px;
    font-weight: 700px;
    flex-wrap: wrap;
    line-height: 1.5;
    letter-spacing: 2px;
    padding: 10px;
}
#time{
    font-size: 15px;
    flex-wrap: wrap;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 2px;
    padding: 10px;
}
#job-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#exp-sect{
    font-size: 20px;
    line-height: 1.5;
    flex-wrap: wrap;
    max-width: 450px;
    list-style: none;

}
/* 
li */
.lists{
    border: solid .5px #a87ab3;
    padding: 10px;
    list-style-type: none;
}
/* skills section */
#skills-div{
    display: flex;
    flex-direction: column;
    margin: auto;
}
#sk-title{
    font-family: 'NTR', sans-serif;
    font-size: 50px;
    width:100vh;
    padding-top: 80px;   
}
#sk-list{
    font-family: 'NTR';
    font-size: 20px;
    font-weight: 700px;
    line-height: 1.5;
    list-style-type: none;
    flex-wrap: wrap;
}
/* projects section */

#proj-title{
    font-family: 'NTR', sans-serif;
    font-size: 50px;
    padding: 10px;
    margin: 5px;
    padding-top: 80px;
}
/* connect section */
#container-4{
    display: flex;
    flex-direction: column;
    margin: auto;
    flex-wrap: wrap;
}
#connect{
    font-family: 'NTR', sans-serif;
    font-size: 50px;
    padding: 10px;
    padding-top: 80px;
}
/* links for connect */
#git{
    font-size: 25px;
    color: #b1d4f1;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
}
#git:hover{
    color: #a87ab3;
}
#linked{
    font-size: 25px;
    color: #b1d4f1;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
}
#linked:hover{
    color: #a87ab3;
}
/* leave a message section */
#message-div{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
}
#mess-sect{
    font-family: 'NTR', sans-serif;
    font-size: 50px;
    padding: 10px;
    margin: 5px;
    padding-top: 80px;
}
#container-5{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
}
#mess-sect-2{
    font-family: "NTR", sans-serif;
    font-size: 50px;
    flex-wrap: wrap;
}
#message-list-2{
    flex-wrap: wrap;
    font-family: "NTR", sans-serif;
    font-size: 20px;
}
#sub-button{
    font-family: 'NTR', sans-serif;
    font-size: 20px;
    font-weight: 700px;
    color: #141414;
    background-color: #b1d4f1;
    text-decoration: none;
    border-radius: 10px;
    border: none;
}
#sub-button:hover{
    color: #a87ab3;
}
.LAM{
    font-family: 'NTR', sans-serif;
    font-size: 20px;
    font-weight: 700px;
    color: #b1d4f1;
    padding: 10px;
    margin: 5px;
    padding-top: 80px;
    border: none;
}
input{
    background-color: #b1d4f1;
    border-radius: 10px;
    border: none;
}
textarea{
    background-color: #b1d4f1;
    border-radius: 10px;
    border: none;
}
h2, img {
    opacity: 1; 
    transition: all 0.8s ease-out;
}
.show {
    opacity: 1;
    bottom: 0;
}

/* .title(1) h2.show{
    transition-delay: 0.5s;
} */
#foot{
    font-family: 'NTR', sans-serif;
    text-align: center;
    color: #b1d4f1;
    position: relative;
    width: 100%;
}
p.copyright {
    position: absolute;
    width: 100%;
    color: #fff;
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
    bottom:0;
}
@media only screen and (max-width: 800px) {

    body{
    background-image: linear-gradient(to top, #000033, #222255);
    color: white;
    font-family: 'NTR', sans-serif; 
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 10px 24px;
    align-items: left;
}
.column{
    width: 50%;
    padding:20px;
}
#moon-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#container-intro{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.typing-effect{
    display:block;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 50%;
    /* width: 90vw; */
    font-size: 40px;
    line-height: 10px;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.container-nav{
    display: block;
    position: fixed;
}
#navbar{
    display: none;
}
#container-2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#about{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 80px;
    align-items: flex-start;
}
#about-descrip{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: auto;
    height: 5px;
}
#myself{
    display: none;
}
#exp-div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#experience{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 60px;
    align-items: flex-start;
}
.container-3{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    padding-right: 10px;
}
#locat{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: auto;
    height: 5px;
    font-weight: bolder;
    font-size: 20px;
}    
}
#title{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: auto;
}
.lists{
    flex-wrap: wrap;
    align-self: center;
    height: auto;
    align-content: center;
}
#skills-div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#sk-title{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 80px;
    align-items: flex-start;
}
#sk-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}
#proj-title{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 80px;
    align-items: flex-start;
}
#connect{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 80px;
    align-items: flex-start;
}
#message-div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#mess-sect{
    flex-wrap: wrap;
    padding-top: 80px;
     align-items: flex-start;
}
#container-5{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#mess-sect-2{
    flex-wrap: wrap;
    padding-top: 80px;
    align-items: flex-start;
}
}


